<!DOCTYPE html>

{% load staticfiles %} <!-- New line -->

<html>

<head>

<title>Rango</title>
<!-- CSS -->
<link rel="stylesheet" href="{% static "css/base.css" %}" />
<!-- JavaScript -->
<script src="{% static "js/jquery.js" %}"></script>

</head>

<body>
<h1>Rango says...</h1>

<div>
    This is the about page! <br />
    <strong> {{ boldmessage }} </strong> <br  />
</div>
<div>
 
   <a href="{% url 'index' %}">Index</a><br />
   
   <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of cat" />
   <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />  
  
</div>
</body>

</html>